<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.youngbear.mapper.PicPopularPermanentMapper" >
  <resultMap id="BaseResultMap" type="cn.youngbear.pojo.PicPopularPermanent" >
    <id column="pic_id" property="picId" jdbcType="VARCHAR" />
    <result column="pic_name" property="picName" jdbcType="VARCHAR" />
    <result column="pic_small_url" property="picSmallUrl" jdbcType="VARCHAR" />
    <result column="pic_size" property="picSize" jdbcType="VARCHAR" />
    <result column="author_id" property="authorId" jdbcType="VARCHAR" />
    <result column="page_count" property="pageCount" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="total_view" property="totalView" jdbcType="INTEGER" />
    <result column="total_bookmarks" property="totalBookmarks" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pic_id, pic_name, pic_small_url, pic_size, author_id, page_count, pic_url,
    total_view, total_bookmarks, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pic_popular_permanent
    where pic_id = #{picId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pic_popular_permanent
    where pic_id = #{picId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.youngbear.pojo.PicPopularPermanent" >
    insert IGNORE  into pic_popular_permanent (pic_id, pic_name, pic_small_url,
      pic_size, author_id,
      page_count, pic_url, total_view, 
      total_bookmarks, create_time)
    values (#{picId,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR}, #{picSmallUrl,jdbcType=VARCHAR}, 
      #{picSize,jdbcType=VARCHAR}, #{authorId,jdbcType=VARCHAR},
      #{pageCount,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{totalView,jdbcType=INTEGER}, 
      #{totalBookmarks,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.youngbear.pojo.PicPopularPermanent" >
    insert IGNORE  into pic_popular_permanent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="picId != null" >
        pic_id,
      </if>
      <if test="picName != null" >
        pic_name,
      </if>
      <if test="picSmallUrl != null" >
        pic_small_url,
      </if>
      <if test="picSize != null" >
        pic_size,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="pageCount != null" >
        page_count,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="totalView != null" >
        total_view,
      </if>
      <if test="totalBookmarks != null" >
        total_bookmarks,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="picId != null" >
        #{picId,jdbcType=VARCHAR},
      </if>
      <if test="picName != null" >
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picSmallUrl != null" >
        #{picSmallUrl,jdbcType=VARCHAR},
      </if>
      <if test="picSize != null" >
        #{picSize,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="pageCount != null" >
        #{pageCount,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="totalView != null" >
        #{totalView,jdbcType=INTEGER},
      </if>
      <if test="totalBookmarks != null" >
        #{totalBookmarks,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.youngbear.pojo.PicPopularPermanent" >
    update pic_popular_permanent
    <set >
      <if test="picName != null" >
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picSmallUrl != null" >
        pic_small_url = #{picSmallUrl,jdbcType=VARCHAR},
      </if>
      <if test="picSize != null" >
        pic_size = #{picSize,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="pageCount != null" >
        page_count = #{pageCount,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="totalView != null" >
        total_view = #{totalView,jdbcType=INTEGER},
      </if>
      <if test="totalBookmarks != null" >
        total_bookmarks = #{totalBookmarks,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pic_id = #{picId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.youngbear.pojo.PicPopularPermanent" >
    update pic_popular_permanent
    set pic_name = #{picName,jdbcType=VARCHAR},
      pic_small_url = #{picSmallUrl,jdbcType=VARCHAR},
      pic_size = #{picSize,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=VARCHAR},
      page_count = #{pageCount,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      total_view = #{totalView,jdbcType=INTEGER},
      total_bookmarks = #{totalBookmarks,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where pic_id = #{picId,jdbcType=VARCHAR}
  </update>
</mapper>